@import "../../../shared/styles/slider";
@import "../../../shared/styles/colors";
@import "../../../shared/styles/titles";

.slide {
  display: flex;
  flex-direction: column;

  .section-title {
    z-index: 4;
    font-size: x-large;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/images/booking-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(80%);
  }
}
