<div
  class="fullSlide slide"
  *ngIf="slide.fields.isImageSetAsBackground; else normalSlide"
>
  <h1 class="slideTitle">{{ slide.fields.sliderTitle }}</h1>
  <img
    [src]="slide.fields.sliderBackground.fields.file.url"
    [alt]="slide.fields.sliderBackground.fields.title"
    class="background"
  />
</div>

<ng-template #normalSlide>
  <div
    class="normalSlide slide"
    [ngClass]="{
      'normalSlide slide': true,
      'bck-main-color': sliderIndex % 2 === 0,
      'bck-second-color': sliderIndex % 2 === 1
    }"
  >
    <h1 class="slideTitle">{{ slide.fields.sliderTitle }}</h1>
    <img
      [src]="slide.fields.sliderBackground.fields.file.url"
      [alt]="slide.fields.sliderBackground.fields.title"
      class="photo"
    />
  </div>
</ng-template>
