@import "../../shared/styles/colors";

.info-slider {
  position: fixed;
  top: 30px;
  right: 0;
  padding: 20px;
  font-weight: 600;

  animation: myAnim 9s ease 0s 1 normal forwards;

  @keyframes myAnim {
    0% {
      transform: translateX(600px);
    }

    50% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(600px);
      display: none;
    }
  }
}

.error-message {
  background-color: $failure-color;
}

.success-message {
  background-color: $success-color;
}
