@import "./colors";

.general-button-style {
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hover-main-btn {
  &:hover {
    background-color: $hover-main-button;
  }
}

.hover-second-btn {
  &:hover {
    background-color: $hover-second-button;
  }
}

.second-button {
  @extend .general-button-style;
  @extend .hover-main-btn;

  background-color: $main-color;
  color: $main-text-color;
  padding: 8px;
  border-radius: 12px;
  font-weight: 700;
}

.eventButton-main {
  @extend .general-button-style;
  @extend .hover-second-btn;

  background-color: $second-color;
  font-weight: 900;
  color: $main-color;
  cursor: pointer;
  border-radius: 12px;
  padding: 8px;
  text-decoration: none;
}

.eventButton-second {
  @extend .general-button-style;
  @extend .eventButton-main;
  @extend .hover-main-btn;
  background-color: $main-color;
  color: $second-color;
}

.header-btn {
  background-color: transparent;
  padding: 10px;

  a {
    color: $main-text-color;
    font-weight: 600;

    @extend .general-button-style;
  }
}

.active {
  @extend .header-btn;
  @extend .hover-second-btn;
  background-color: $second-color;

  a {
    @extend .general-button-style;
    color: $main-text-color;
  }
}

.book-now-btn {
  @extend .eventButton-main;
  background-color: $main-text-color;

  &:hover {
    background-color: $book-now-btn-bg;
  }
}
