// Main colors
$main-color: #171a21;
$second-color: #617073;

// Text colors
$main-text-color: wheat;
$white-color: #fff;
$placeholders: #616c6e94;

// Button colors
$hover-main-button: #171a1f;
$hover-second-button: #687173;
$hover-booked-date: rgba(255, 0, 0, 0.532);
$book-now-btn-bg: rgb(255, 211, 129);

// Status colors
$success-color: rgb(2, 118, 2);
$failure-color: rgb(137, 0, 0);

// Background colors
.bck-main-color {
  background-color: $main-color;
}

.bck-second-color {
  background-color: $second-color;
}
