// Main colors
$main-color: #171a21;
$second-color: #617073;

// Text colors
$main-text-color: wheat;
$white-color: #fff;

// Button colors
$hover-main-button: #171a1f;
$hover-second-button: #687173;

// Background colors
.bck-main-color {
  background-color: $main-color;
}

.bck-second-color {
  background-color: $second-color;
}
