<div class="calendar">
  <mat-card class="booking-calendar" *ngIf="!loading">
    <div (click)="$event.stopPropagation()">
      <mat-calendar
        #calendar
        (selectedChange)="select($event, calendar)"
        [dateFilter]="bookedDatesFilter"
        [dateClass]="dateClass"
        [minDate]="todayDate"
      ></mat-calendar>
    </div>
  </mat-card>

  <app-form
    *ngIf="formatedDates.length !== 0"
    [bookingDates]="formatedDates"
    [datesToSave]="unFormatedDatesToSave"
    (bookedEvent)="reload($event)"
  ></app-form>
</div>

<app-spinner *ngIf="loading"></app-spinner>
