@import "../../shared/styles/colors";

.booking-calendar {
  width: 300px;

  button.selected {
    background: $main-text-color;
    border-radius: 100%;
  }

  .mat-calendar-body-cell:hover {
    background-color: $hover-second-button !important;
    color: $white-color !important;
    border-radius: 100%;
  }

  .mat-calendar-body-disabled:hover {
    background-color: $hover-booked-date !important;
    border-radius: 100%;
    cursor: not-allowed;
  }
}
