<form class="form" [formGroup]="calendarForm" (ngSubmit)="submit()">
  <div class="inputs">
    <mat-form-field appearance="fill">
      <textarea
        matInput
        disabled
        value="{{ getCorrectLabelForDates() }}"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput placeholder="My name" formControlName="name" />
    </mat-form-field>

    <button
      class="second-button"
      type="submit"
      [disabled]="!calendarForm.valid"
    >
      Book
    </button>
    <!-- TODO in the next sprint: implement send user details data to BE -->
    <!-- <mat-form-field appearance="fill">
      <textarea matInput placeholder="Hello! I want to book an event."></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <input
      matInput
      placeholder="mail@example.com"
      [formControl]="email"
      required
      />
    </mat-form-field> -->
  </div>
</form>
