<form class="form">
  <mat-form-field appearance="fill">
    <mat-label>Date to be booked</mat-label>
    <input
      matInput
      disabled
      value="{{ 'Date to be booked: ' + bookingDate }}"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>My name</mat-label>
    <input matInput placeholder="My name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>My message</mat-label>
    <textarea matInput placeholder="Hello! I want to book an event."></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="mail@example.com"
      [formControl]="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</form>
