@import "../../shared/styles/colors";
@import "../../shared/styles/buttons";

// TODO: style weird form grey-ish background
// .mat-form-field {
//   background-color: transparent !important;
// }

.form {
  .inputs {
    display: flex;
    flex-direction: column;

    mat-form-field {
      height: 60px;

      &:nth-child(3) {
        height: 80px;
      }

      input,
      textarea {
        width: 93%;
        padding: 10px;
        background-color: $main-color;
        border: 2px solid $main-text-color;
        color: $white-color;

        &:disabled {
          cursor: not-allowed;
        }

        &::placeholder {
          color: $placeholders;
        }
      }
    }
  }

  ::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }

  button {
    margin-top: 20px;
    z-index: 4;
  }
}
