<div class="fullSlide slide" *ngIf="isImageSetAsBackground; else normalSlide">
  <h1 class="slideTitle">{{ sliderTitle }}</h1>
  <img [src]="fileUrl" [alt]="fileTitle" class="background" />
</div>

<ng-template #normalSlide>
  <div
    class="normalSlide slide"
    [ngClass]="{
      'normalSlide slide': true,
      'bck-main-color': sliderIndex % 2 === 0,
      'bck-second-color': sliderIndex % 2 === 1
    }"
  >
    <div>
      <h1 class="slideTitle">{{ sliderTitle }}</h1>
      <button class="eventButton" *ngIf="eventPageButton">
        {{ eventPageButton }}
      </button>

      <app-calendar *ngIf="hasCalendar"></app-calendar>
    </div>

    <img [src]="fileUrl" [alt]="fileTitle" class="photo" />
  </div>
</ng-template>
