<div class="fullSlide slide" *ngIf="isImageSetAsBackground; else normalSlide">
  <h1 class="slideTitle">{{ sliderTitle }}</h1>
  <img [src]="fileUrl" [alt]="fileTitle" class="background" />
</div>

<ng-template #normalSlide>
  <div
    class="normalSlide slide"
    [ngClass]="{
      'normalSlide slide': true,
      'bck-main-color': sliderIndex % 2 === 1,
      'bck-second-color': sliderIndex % 2 === 0
    }"
  >
    <div>
      <h1 class="slideTitle">{{ sliderTitle }}</h1>
      <p *ngIf="eventDescription">{{ eventDescription }}</p>
      <button
        *ngIf="eventPageButton"
        [ngClass]="{
          'eventButton-main': sliderIndex % 2 === 1,
          'eventButton-second': sliderIndex % 2 === 0
        }"
      >
        {{ eventPageButton }}
      </button>

      <a
        [routerLink]="['/events', routerLinkId]"
        [ngClass]="{
          'eventButton-main': sliderIndex % 2 === 1,
          'eventButton-second': sliderIndex % 2 === 0
        }"
        *ngIf="routerLinkId"
        >{{ sliderTitle }}</a
      >

      <app-calendar *ngIf="hasCalendar"></app-calendar>
    </div>

    <img [src]="fileUrl" [alt]="fileTitle" class="photo" />
  </div>
</ng-template>
